body {
  padding: 0;
  margin: 0;
}

.header {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(3, 3, 37);
  padding: 5px;
}

.logo {
  width: 150px;
}

.search-section {
  display: flex;
  align-items: center;
  /* padding: 1px; */
  background-color: white;
  /* gap: 10px; */
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
}

.input {
  padding: 6px;
  border: none;
}

.select {
  width: 300px;
}

.categories {
  background-color: rgb(218, 218, 218);
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
}

.input:focus {
  outline: none;
}

.btn {
  padding: 6px 10px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

.btn-search {
  background-color: transparent;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 7.7px;

  border: none;
}

.seach-block {
  background-color: rgb(251, 255, 0);
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
}

.btn-orange {
  background-color: rgb(255, 165, 0);
  color: black;
}

.icon {
  font-size: 20px;
}

.parent {
  /* position: relative; */
  width: 200px;
  height: 200px;
  background-color: lightskyblue;
}

.child {
  position: fixed;
  bottom: 75px;
  left: 75px;
  width: 50px;
  height: 50px;
  background-color: lightcoral;
  z-index: 2;
}

.sticky{
  position: sticky;
  top: 48px;
  background-color: lightgreen;
  padding: 5px;
}

.logo-group {
  display: flex;
  align-items: center;
  gap: 10px;
}

.menu-btn {
  background-color: transparent;
  border: none;
  color: white;
  font-size: 24px;
  cursor: pointer;
}

.side-bar {
  position: fixed;
  top: 47px; /* Adjust based on header height */
  left: 0px;
  width: 250px;
  height: calc(100% - 47px); /* Adjust based on header height */
  background-color: rgb(223, 223, 223);
  z-index: 3;
}
.nav-list {
  list-style: none;
  padding: 10px;
  margin: 0;
}

.nav-item a {
  padding: 10px;
  margin-bottom: 10px;
  color: black;
  text-decoration: none;
  display: block;
  border: 1px solid rgb(220, 220, 220);
  border-radius: 5px;
  background-color: rgb(240, 240, 240);
}

.nav-item a:hover {
  background-color: rgb(251, 255, 0);
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.9);
}